*.s#?
*.b#?
.modgit
firmware*
*.gch
.pio*
.clang_complete
.gcc-flags.json
.sconsign.dblite
credentials.h
.build
node_modules
code/utils
*.suo
atmega328/sonoffsc/Debug/board.buildinfo
*.a
atmega328/sonoffsc/Debug/sonoffsc.cpp.d
*.elf
atmega328/sonoffsc/Debug/sonoffsc.hex
*.hex
atmega328/sonoffsc/Release/board.buildinfo
*.d
atmega328/sonoffsc/Release/sonoffsc.cpp.o
*.sln
atmega328/sonoffsc/sonoffsc.vcxproj
*.filters
atmega328/sonoffsc/__vm/.sonoffsc.vsarduino.h
*.xml
atmega328/sonoffsc/Debug/sonoffsc.cpp.o
esp8266/sonoffsc/all.h
esp8266/sonoffsc/debug.h
esp8266/sonoffsc/general.h
*.vcxproj
esp8266/sonoffsc/__vm/.sonoffsc.vsarduino.h
