*.a
*.d
*.o
*.buildinfo
*.bin
.build
.clang_complete
code/utils
credentials.h
*.elf
*.filters
firmware*
.gcc-flags.json
*.gch
*.hex
.modgit
node_modules
.pio*
.sconsign.dblite
*.sln
*.suo
utils
*.vcxproj
*.xml
custom.h
